<div class="container-fluid content">
  <div class="row">
    <div class="facets col">
      <div class="facet">
        <div class="facet-header">
          <div class="facet-header-label">Category</div>
          <div class="autocomplete mb-1 mr-1">
            <input type="text" class="form-control" placeholder="Autocomplete" (input)="categoryAutocomplete = $event.target.value">
          </div>
        </div>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="categoryType" [textualFilter]="categoryAutocomplete"></app-parameter-facet>
      </div>
      <div class="facet">
        <div class="facet-header">
          <div class="facet-header-label mr-1">Procedure</div>
          <div class="autocomplete mb-1">
            <input type="text" class="form-control" placeholder="Autocomplete" (input)="procedureAutocomplete = $event.target.value">
          </div>
        </div>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="procedureType" [textualFilter]="procedureAutocomplete"></app-parameter-facet>
      </div>
      <div class="facet">
        <div class="facet-header">
          <div class="facet-header-label mr-1">Feature</div>
          <div class="autocomplete mb-1">
            <input type="text" class="form-control" placeholder="Autocomplete" (input)="featureAutocomplete = $event.target.value">
          </div>
        </div>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="featureType" [textualFilter]="featureAutocomplete" [sort]="'ascAlphabet'"></app-parameter-facet>
      </div>
      <div class="facet">
        <div class="facet-header">
          <div class="facet-header-label mr-1">Phenomenon</div>
          <div class="autocomplete mb-1">
            <input type="text" class="form-control" placeholder="Autocomplete" (input)="phenomenonAutocomplete = $event.target.value">
          </div>
        </div>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="phenomenonType" [textualFilter]="phenomenonAutocomplete"></app-parameter-facet>
      </div>
      <div class="facet">
        <div class="facet-header">
          <div class="facet-header-label mr-1">Offering</div>
          <div class="autocomplete mb-1">
            <input type="text" class="form-control" placeholder="Autocomplete" (input)="offeringAutocomplete = $event.target.value">
          </div>
        </div>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="offeringType" [textualFilter]="offeringAutocomplete"></app-parameter-facet>
      </div>
      <div class="facet">
        <div class="facet-header">
          <div class="facet-header-label">Timeframe</div>
        </div>
        <app-time-facet [facetSearchService]="facetSearch"></app-time-facet>
      </div>
    </div>
    <div class="results col">
      <div class="toggle-bar">
        <span>
          {{resultCount}} Datasets found
        </span>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-" [ngClass]="{'btn-primary': !showMap, 'btn-outline-primary': showMap}"
            (click)="toggleResultView()">List</button>
          <button type="button" class="btn" [ngClass]="{'btn-primary': showMap, 'btn-outline-primary': !showMap}"
            (click)="toggleResultView()">Map</button>
        </div>
      </div>
      <div class="result-content">
        <app-result-list *ngIf="!showMap" [facetSearchService]="facetSearch" (selected)="onSelectedTs($event)"></app-result-list>
        <app-result-map *ngIf="showMap" [facetSearchService]="facetSearch" [cluster]="true" (selected)="onSelectedTs($event)"></app-result-map>
      </div>
    </div>
  </div>
</div>
