<div class="container-fluid content">
  <div class="row">
    <div class="facets col">
      <div class="facet">
        <h2>Category</h2>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="categoryType"></app-parameter-facet>
      </div>
      <div class="facet">
        <h2>Procedure</h2>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="procedureType"></app-parameter-facet>
      </div>
      <div class="facet">
        <h2>Feature</h2>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="featureType"></app-parameter-facet>
      </div>
      <div class="facet">
        <h2>Phenomenon</h2>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="phenomenonType"></app-parameter-facet>
      </div>
      <div class="facet">
        <h2>Offering</h2>
        <app-parameter-facet [facetSearchService]="facetSearch" [type]="offeringType"></app-parameter-facet>
      </div>
    </div>
    <div class="results col">
      <div class="toggle-bar">
        <span>
          {{resultCount}} Datasets found
        </span>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-" [ngClass]="{'btn-primary': !showMap, 'btn-outline-primary': showMap}" (click)="toggleResultView()">List</button>
          <button type="button" class="btn" [ngClass]="{'btn-primary': showMap, 'btn-outline-primary': !showMap}" (click)="toggleResultView()">Map</button>
        </div>
      </div>
      <div class="result-content">
        <app-result-list *ngIf="!showMap" [facetSearchService]="facetSearch"></app-result-list>
        <app-result-map *ngIf="showMap" [facetSearchService]="facetSearch" [cluster]="true" (selected)="onSelectedTs($event)"></app-result-map>
      </div>
    </div>
  </div>
</div>
