<div>Categories:</div>
<app-parameter-facet [facetSearchService]="facetSearch" [type]="categoryType"></app-parameter-facet>
<br>
<div>Procedures:</div>
<app-parameter-facet [facetSearchService]="facetSearch" [type]="procedureType"></app-parameter-facet>
<br>
<div>Features:</div>
<app-parameter-facet [facetSearchService]="facetSearch" [type]="featureType"></app-parameter-facet>
<br>
<div>Phenomena:</div>
<app-parameter-facet [facetSearchService]="facetSearch" [type]="phenomenonType"></app-parameter-facet>
<br>
<div>Offerings:</div>
<app-parameter-facet [facetSearchService]="facetSearch" [type]="offeringType"></app-parameter-facet>

<app-result-list [facetSearchService]="facetSearch"></app-result-list>